* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* colors */
  --primary-color: #9211e7;
  --secondary-color: #1776f1;
  --tertiary-color: #3426b1;

  --primary-gray: #a1a0a0;
  --secondary-gray: #cac5c5;
  --tertiary-gray: #ffffff7c;

  --background-color: #e9e8e8;

  /* font-sizes */
  --fs-900: 4rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 0.9rem;
  --fs-400: 0.875rem;
  --fs-300: 0.75rem;
  --fs-200: 0.5rem;

  /* font-families */
  --ff-primary: 'Hanken Grotesk', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-tertiary: 'Assistant', sans-serif;

  /* Grid  */
  --columns: 1;

}

/* Tablet  */
@media (min-width: 35em) {
  * {
    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-200: 0.5rem;

    --columns: 2;
  }
}


/* Desktop  */
@media (min-width: 45em) {
  * {
    --fs-900: 4rem;
    --fs-800: 3.5rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1.2rem;
    --fs-200: 0.5rem;

    --columns: 2;
  }
}


body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

/* font-sizes */
.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

/* Font Families */
.primary-ff {
  font-family: var(--ff-primary);
}

.secondary-ff {
  font-family: var(--ff-secondary);
}

.tertiary-ff {
  font-family: var(--ff-tertiary);
}

/* Font Styles */
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

/* Colors */
.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.tertiary-color {
  background-color: var(--tertiary-color);
}

.primary-gray {
  background-color: var(--primary-gray);
}

.secondary-gray {
  background-color: var(--secondary-gray);
}

.tertiary-gray {
  background-color: var(--tertiary-gray);
}



.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

/* Margin */
.m-5 {
  margin: 5px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

/* Padding */
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-b-30 {
  padding-bottom: 30px;
}

/* Border */
.br-10 {
  border-radius: 10px;
}

.br-30 {
  border-radius: 30px;
}

/* Display */

.inline {
  display: inline;
}

/* Default styles */
h1 {
  font-size: var(--fs-800);
  font-family: var(--ff-primary);
  text-align: center;
}

h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-secondary);
}

h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-tertiary);
}

p {
  font-size: var(--fs-300);
  font-family: var(--ff-tertiary);
}

/* Buttons */
.btn {
  display: block;
  background: var(--primary-color);
  color: #fff;
  font-family: var(--ff-tertiary);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: color 0.3s linear, box-shadow 0.4s ease;
  margin: auto;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--tertiary-gray);
}

.btn:active, .mult-btn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}


.mult-btn {
  display: block;
  background: var(--secondary-gray);
  color: black;
  font-family: var(--ff-tertiary);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: var(--fs-400);
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: color 0.3s linear, box-shadow 0.4s ease;
  margin: auto;
  width: min(80%, 800px);
  min-height: 100px;
  border: 5px solid var(--tertiary-color);
}


/* Inputs */

input[type="text"], textarea {
  border: 2px solid var(--primary-gray);
}

/* Containers */
.main {
  max-width: 1200px;
  margin: auto;
}

.main > div {
  margin-top: 15px;
}


.section {
  width: 85%;
  margin: auto;
}