* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* colors */
  --primary-color: #9211e7;
  --secondary-color: #1776f1;
  --tertiary-color: #3426b1;

  --primary-gray: #808080;
  --secondary-gray: #A0A0A0;
  --tertiary-gray: #C0C0C0;

  --background-color: #ebebeb8f;

  /* font-sizes */
  --fs-900: 4rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 0.9rem;
  --fs-400: 0.875rem;
  --fs-300: 0.75rem;
  --fs-200: 0.5rem;

  /* font-families */
  --ff-primary: 'Hanken Grotesk', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-tertiary: 'Assistant', sans-serif;

  /* Grid  */
  --columns: 1;

}

/* Tablet  */
@media (min-width: 35em) {
  * {
    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-200: 0.5rem;

    --columns: 2;
  }
}


/* Desktop  */
@media (min-width: 45em) {
  * {
    --fs-900: 4rem;
    --fs-800: 3.5rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1rem;
    --fs-200: 0.5rem;

    --columns: 2;
  }
}


body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

/* font-sizes */
.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

/* Font Families */
.primary-ff {
  font-family: var(--ff-primary);
}

.secondary-ff {
  font-family: var(--ff-secondary);
}

.tertiary-ff {
  font-family: var(--ff-tertiary);
}

/* Font Styles */
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

/* Colors */
.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.tertiary-color {
  background-color: var(--tertiary-color);
}

.primary-gray {
  background-color: var(--primary-gray);
}

.secondary-gray {
  background-color: var(--secondary-gray);
}

.tertiary-gray {
  background-color: var(--tertiary-gray);
}



.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

/* Margin */
.m-5 {
  margin: 5px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

/* Default styles */
h1 {
  font-size: var(--fs-800);
  font-family: var(--ff-primary);
  text-align: center;
}

h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-secondary);
}





/* Containers */
.main {
  max-width: 1200px;
  margin: auto;
}

.main > div {
  margin-top: 15px;
}


.section {
  width: 85%;
  margin: auto;
}